.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  min-height: 100vh;
  text-align: center;
}

label {
  margin-bottom: 10px;
}

input {
  margin-top: 5px;
  padding: 8px;
  font-size: 1rem;
}

/* hr {
  width: 50%;
  margin: 20px auto;
} */

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}
/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 30px; /* Space between Form and RectangleGrid */
}